@model IEnumerable<MVC_CRUD.Models.tblCountry>

@{
    ViewBag.Title = "Home";
}

<h2>Countries</h2>

<div class="addEditDiv">
    @{Html.RenderAction("AddUpdateCountry", "Country", new { @id = 0 });}
</div>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CountryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td class="id">@item.CountryId</td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryName)
                </td>
                <td>
                    <button class="edit">Edit</button> |
                    <button class="deleteBtn">Delete</button>
                </td>
            </tr>

        }
    </tbody>
</table>
<div class="deleteDiv">
</div>
@*<script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>*@







<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    })
    //Task2
    function getAllData() {
        var id = $(".id").text();
        return id;
    }
    $(document).on('click', '.edit', function () {
        var id = $(this).closest("tr").find('.id').text();
        LoadDiv(id);
    })
    function LoadDiv(id) {
        $.ajax({
            type: "GET",
            url: "/Country/AddUpdateCountry/" + id,
            success: function (response) {
                $('.addEditDiv').html(response);
            }
        })
    }
    //Delete
    $(document).on('click', '.deleteBtn', function () {
        var id = $(this).closest("tr").find('.id').text();
        Delete(id);
    })
    function Delete(id) {
        var checkstr = confirm('Are you sure you want to delete');
        if (checkstr == true) {
            $.ajax({
                url: "/Country/DeleteCountry/" + id,
                type: "POST",
                dataType: 'json',
                success: function (response) {
                    if (response.status) {
                        location.reload();
                    }
                    else {
                        alert(response.message);
                    }
                }
            })
        }
        else {
            return false;
        }
    }

</script>
